extend index

block pageindex
 section.best-of-month
  div.container
   h2(class=" title text-center m-0 wow fadeInUp" data-wow-duration="1s")  Best of Jun
   div.row
    div(class="col item wow fadeInUp" data-wow-duration="1s")  
     div.photo
      img(src="images/portfolio/p-1.jpg" alt="")      
    div(class="col item wow fadeInUp" data-wow-duration="1s")  
     div.photo
      img(src="images/portfolio/p-2.jpg" alt="")      
    div(class="col item wow fadeInUp" data-wow-duration="1s")  
     div.photo
      img(src="images/portfolio/p-3.jpg" alt="")      
    div(class="col item wow fadeInUp" data-wow-duration="1s")  
     div.photo
      img(src="images/portfolio/p-4.jpg" alt="") 
    div(class="col item wow fadeInUp" data-wow-duration="1s")  
     div.photo
       iframe(src="https://www.youtube.com/embed/i0QfCZjASX8?si=tDtxFVg1o12n2lBB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)   
    div(class="col item wow fadeInUp" data-wow-duration="1s")  
     div.photo
      img(src="images/portfolio/p-5.jpg" alt="")
  include ../pugjs/dark.pug
  <!--End dark-->   
 // include ../pugjs/iconssocial.pug
  <!--End iconssocial-->         