extend index

block pageindex
 section.innerservices
  div.container
   div.row
    div(class="col-sm-6 item wow fadeInLeft" data-wow-duration="1s") 
     div.w-100
      h2.title    SEM/GOOGLE ADS
      p.textlight  Over the past 14 years, we have worked with over 100 brands and have earned our position through a dedication to work and a focus on meeting your business needs and achieving the highest percentage of spread and sales. <br><br>Smart Target is a comprehensive advertising agency that provides its clients with the highest level of advanced marketing services. You will not find a better partner for your business success than us.
      span.subtext Lorem ipsum dolor sit amet consectetur. Consequat mi tortor bibendum nunc aliquet netus enim commodo.
  
      a(data-toggle="modal" data-target=".bd-example-modal-lg" class="bottom")
       span Get Service
      
    div(class="col-sm-6 item wow fadeInRight" data-wow-duration="1s") 
     div.photo
      img(src="images/about.png" alt="") 
  include ../pugjs/dark.pug
  <!--End dark-->   
 div(class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
   div(class="modal-dialog modal-lg")
    div(class="modal-content") 
     div(class="modal-header")
       h4(class="title") Chose what you want
       button(type="button" class="close" data-dismiss="modal" aria-label="Close")
        span(aria-hidden="true") × 
     div.row
      div(class="col-sm-7 item")
       div.row
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text    Branding
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text    Branding
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text    Digital Marketing
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text    SEO/Content Creation
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text    SEM Google Ads
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text    Social Media Management
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text   Marketing Strategy
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text Media Buying
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text Web development / Design
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text Graphic / Motion Design
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text Photo / Videography/V.O
        div(class="col-sm-6 inpusrach")
         label.che-box 
          input(type="checkbox" name="colorCheckbox" value="box-2")
          span.label-text Call-Center
      div(class="col-sm-5 item")  
       form(action="#" method="")
         div.row
          div(class="col-sm-12 inpusrach")
           input(class="form-control" type="text" placeholder="" autocomplete="off" required)
           label(class="floating-label") Name
          div(class="col-sm-12 inpusrach")
           input(class="form-control" type="text" placeholder="" autocomplete="off" required)
           label(class="floating-label") Email Address  
          div(class="col-sm-12 inpusrach")
           input(class="form-control" type="text" placeholder="" autocomplete="off" required)
           label(class="floating-label") Phone Number 
          div(class="col-sm-12 inpusrach")
           button(class="btnbottom" type="submit")
            | Send
            svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
             path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")

