section.clients
 div.container
  div(class="slider-clients wow fadeInUp" data-wow-duration="1s")
     div.itemslide
      a(href="index.html" class="photo")
        img(src="images/logo.png" alt="" title="")
 
     <!-- TEnd itemslide-->      
     div.itemslide
      a(href="index.html" class="photo")
        img(src="images/logo.png" alt="" title="")
 
     <!-- TEnd itemslide-->  
     div.itemslide
      a(href="index.html" class="photo")
        img(src="images/logo.png" alt="" title="")
 
     <!-- TEnd itemslide-->      
     div.itemslide
      a(href="index.html" class="photo")
        img(src="images/logo.png" alt="" title="")
 
     <!-- TEnd itemslide-->        
     div.itemslide
      a(href="index.html" class="photo")
        img(src="images/logo.png" alt="" title="")
 
     <!-- TEnd itemslide-->        
     div.itemslide
      a(href="index.html" class="photo")
        img(src="images/logo.png" alt="" title="")
 
     <!-- TEnd itemslide-->        
     div.itemslide
      a(href="index.html" class="photo")
        img(src="images/logo.png" alt="" title="")
 
     <!-- TEnd itemslide-->   
  div(class="textcenter wow fadeInUp" data-wow-duration="1s") 
   div.w-100.text-center
    h2(class="title") Deal with us
    p.textlight To join to our family
    a(href="letstalk.html" class="bottom") #[span Get Started] 
<!-- End clients-->