extend index

block pageindex
 div.slider.n-bg
  div.photo
    img(src='images/letstalk.jpg' alt="Smart target" title="Smart target")
  div.container
   div
    h1(class="title wow fadeInUp" data-wow-duration="1s") Get in touch
    p(class="wow fadeInUp" data-wow-duration="3s")   
     | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
     a(class="btnbottom nav__link wow fadeInUp" href="#letstalk" data-wow-duration="3s") 
      | Let’s Go
      svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
        path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
  include ../pugjs/dark.pug
  <!--End dark-->   
  include ../pugjs/iconssocial.pug
  <!--End iconssocial-->    
 section.contactus.c-letst#letstalk
  div(class='container')
     div.row
      div(class="col-sm-6 item wow fadeInLeft" data-wow-delay="1s")
       div(class="photo")
        img(src="images/contactus2.jpg" alt="" title="")
      div(class="col-sm-5 item  wow fadeInRight" data-wow-delay="1s")
        form(action="#" method="")
         h2(class="title")  Ready to achieve victories with us? Then #[span  Let's Talk!]  
         div.row
          div(class="col-sm-12 inpusrach")
           input(class="form-control" type="text" placeholder="" autocomplete="off" required)
           label(class="floating-label") Name
          div(class="col-sm-12 inpusrach")
           input(class="form-control" type="text" placeholder="" autocomplete="off" required)
           label(class="floating-label") Email Address  
          div(class="col-sm-12 inpusrach")
           input(class="form-control" type="text" placeholder="" autocomplete="off" required)
           label(class="floating-label") Phone Number 
          div(class="col-sm-12 inpusrach")
           textarea(name="" class="form-control" placeholder="" autocomplete="off" required)
           label(class="floating-label") Your Message
          div(class="col-sm-12 inpusrach")
           button(class="btnbottom" type="submit")
            | Send
            svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
             path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
 section.map
  div(class='container')
   h2(class="title  text-center wow fadeInUp" data-wow-duration="1s") Yo Can visit us.
   div(class="m-contact wow fadeInUp" data-wow-duration="1s")
       svg(viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M6.75 0C3.015 0 0 3.015 0 6.75C0 11.25 6.75 18 6.75 18C6.75 18 13.5 11.25 13.5 6.75C13.5 3.015 10.485 0 6.75 0ZM6.75 2.25C9.2475 2.25 11.25 4.275 11.25 6.75C11.25 9.2475 9.2475 11.25 6.75 11.25C4.275 11.25 2.25 9.2475 2.25 6.75C2.25 4.275 4.275 2.25 6.75 2.25Z")
       p Sharq- Ahmed Al-Jaber Street Abdullah Alawadhi Tower Building No. 2 – 6th Floor
   div(class="iframe wow fadeInUp" data-wow-duration="1s")
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.851679576622!2d46.7111140153561!3d24.66323315920702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f0467358f5afb%3A0xd15a88981e59b517!2z2KfZhNmF2K_Zitix2YrYqSDYp9mE2LnYp9mF2Kkg2YTYrdix2LMg2KfZhNit2K_ZiNiv!5e0!3m2!1sen!2ssa!4v1675796994100!5m2!1sen!2ssa" allowfullscreen="" loading="lazy")
   div(class="flex wow fadeInUp" data-wow-duration="1s")
     div.m-contact  
       svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 12")
        path(d="M13.1966 1.01015L11.1994 10.4288C11.0486 11.0934 10.6558 11.2588 10.0975 10.9459L7.05426 8.70339L5.58604 10.1158C5.42343 10.2784 5.28777 10.4141 4.97436 10.4141L5.19323 7.31506L10.833 2.21885C11.0784 2.00046 10.7796 1.87898 10.452 2.09784L3.47968 6.4883L0.478015 5.54857C-0.174788 5.34483 -0.186605 4.89577 0.614153 4.58236L12.3547 0.0590699C12.8983 -0.144665 13.3738 0.179609 13.1966 1.01015Z" )
       a(href="mailTo:hello@smarttargetkwt.com") hello@smarttargetkwt.com
     div.flexinner
      div.m-contact  
       svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14")
        path(d="M11.1134 5.53639C11.1292 3.67635 9.545 1.97118 7.58191 1.73538C7.54287 1.73075 7.50034 1.72371 7.45531 1.71625C7.35812 1.70015 7.25762 1.68359 7.15621 1.68359C6.75387 1.68359 6.64632 1.96622 6.61801 2.13478C6.59047 2.29867 6.61673 2.43629 6.69593 2.54401C6.82917 2.72518 7.06362 2.75735 7.25192 2.78312C7.30711 2.79074 7.35919 2.79783 7.40278 2.80762C9.16654 3.20173 9.76043 3.82135 10.0507 5.57011C10.0578 5.61285 10.061 5.6655 10.0644 5.72134C10.077 5.93038 10.1034 6.3653 10.571 6.3653H10.571C10.6099 6.3653 10.6518 6.36194 10.6953 6.3553C11.1307 6.28913 11.1171 5.89158 11.1105 5.70057C11.1087 5.64677 11.1069 5.59589 11.1115 5.56204C11.1127 5.55352 11.1133 5.54496 11.1134 5.53639Z" )
        path(d="M7.0411 1.05249C7.09333 1.05626 7.14279 1.05986 7.18396 1.06617C10.0802 1.51158 11.4122 2.88381 11.7813 5.80274C11.7876 5.85236 11.7886 5.91287 11.7896 5.97695C11.7933 6.205 11.8009 6.67942 12.3103 6.68925L12.3262 6.68941C12.4859 6.68941 12.613 6.64123 12.704 6.54609C12.8626 6.3802 12.8515 6.13375 12.8426 5.93569C12.8404 5.8871 12.8383 5.84133 12.8388 5.80126C12.8757 2.81596 10.2916 0.108904 7.30893 0.00823537C7.29656 0.00782565 7.28476 0.0084812 7.27283 0.0101611C7.26697 0.0110215 7.25612 0.0120867 7.23752 0.0120867C7.20777 0.0120867 7.17118 0.0095055 7.13238 0.00688329C7.08547 0.00368748 7.03229 0 6.97837 0C6.50338 0 6.41308 0.337609 6.40152 0.538863C6.37489 1.00398 6.82485 1.03671 7.0411 1.05249Z" )
        path(d="M11.6418 9.57493C11.5802 9.5279 11.5166 9.47922 11.457 9.4312C11.1407 9.17673 10.8043 8.94216 10.479 8.7153C10.4114 8.66826 10.3439 8.62119 10.2766 8.57399C9.85987 8.28124 9.48518 8.13899 9.13118 8.13899C8.65439 8.13899 8.23869 8.40244 7.89559 8.92192C7.74359 9.15223 7.55917 9.2642 7.3319 9.2642C7.19751 9.2642 7.04481 9.22585 6.87809 9.15018C5.53286 8.54014 4.57227 7.60484 4.02296 6.37023C3.75742 5.77351 3.8435 5.38346 4.31083 5.06601C4.57621 4.8859 5.07017 4.55058 5.03517 3.90847C4.99555 3.17929 3.38667 0.985281 2.70879 0.736089C2.42178 0.630545 2.12022 0.629562 1.81089 0.733631C1.0316 0.995606 0.472371 1.45568 0.193516 2.06403C-0.0759566 2.65186 -0.0637879 3.34207 0.228711 4.06006C1.07429 6.13595 2.26313 7.94585 3.76234 9.4394C5.22979 10.9014 7.03342 12.0991 9.12307 12.9988C9.31142 13.0799 9.50899 13.1241 9.65325 13.1563C9.70242 13.1674 9.74486 13.1768 9.7758 13.1853C9.7928 13.1899 9.81034 13.1924 9.82791 13.1926L9.84442 13.1927C9.84442 13.1927 9.84442 13.1927 9.84451 13.1927C10.8273 13.1927 12.0075 12.2946 12.3699 11.2707C12.6874 10.3741 12.1077 9.93098 11.6418 9.57493Z" )
        path(d="M7.47673 3.42419C7.30845 3.42845 6.95827 3.43713 6.83539 3.79379C6.77791 3.96047 6.78479 4.10518 6.85588 4.22392C6.96019 4.39813 7.16005 4.45152 7.34185 4.48081C8.00113 4.5866 8.33972 4.95117 8.40745 5.62803C8.43891 5.94364 8.65143 6.16402 8.92431 6.16402C8.94447 6.16402 8.96512 6.16284 8.98564 6.16034C9.31383 6.12129 9.47292 5.88017 9.45854 5.44374C9.46379 4.98825 9.22541 4.47114 8.81999 4.05925C8.41318 3.64609 7.92279 3.41341 7.47673 3.42419Z" )
       a(href="#") +96598008445
      div.m-contact  
       svg(xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 14 13")
        path(d="M10.969 0H7.7272C6.16327 0 4.89062 1.27265 4.89062 2.83657C4.89062 4.26318 5.94921 5.44719 7.32197 5.64427V6.88882C7.32197 7.05264 7.4205 7.20065 7.57208 7.26316C7.72155 7.32554 7.89688 7.2921 8.01372 7.17531L9.51589 5.67314H10.969C12.5329 5.67314 13.8326 4.4005 13.8326 2.83657C13.8326 1.27265 12.5329 0 10.969 0ZM7.7272 3.24174C7.50335 3.24174 7.32197 3.06031 7.32197 2.83652C7.32197 2.61273 7.50335 2.43129 7.7272 2.43129C7.95099 2.43129 8.13242 2.61273 8.13242 2.83652C8.13242 3.06031 7.95099 3.24174 7.7272 3.24174ZM9.3481 3.24174C9.12425 3.24174 8.94287 3.06031 8.94287 2.83652C8.94287 2.61273 9.12425 2.43129 9.3481 2.43129C9.57189 2.43129 9.75332 2.61273 9.75332 2.83652C9.75332 3.06031 9.57189 3.24174 9.3481 3.24174ZM10.969 3.24174C10.7451 3.24174 10.5638 3.06031 10.5638 2.83652C10.5638 2.61273 10.7451 2.43129 10.969 2.43129C11.1928 2.43129 11.3742 2.61273 11.3742 2.83652C11.3742 3.06031 11.1928 3.24174 10.969 3.24174Z" )
        path(d="M9.10405 12.157C9.77439 12.157 10.3197 11.6116 10.3197 10.9413V9.32039C10.3197 9.14587 10.2081 8.99113 10.0427 8.93613L7.61706 8.12568C7.49833 8.08572 7.36855 8.10391 7.26408 8.17277L6.23281 8.86014C5.1406 8.33937 3.84461 7.04335 3.32381 5.95114L4.01118 4.91987C4.08042 4.81578 4.09785 4.68559 4.05827 4.56689L3.24782 2.14124C3.19285 1.97586 3.0381 1.86426 2.86359 1.86426H1.21567C0.545324 1.86426 0 2.40388 0 3.07423C0 7.74301 4.43526 12.157 9.10405 12.157Z" )
       a(href="#") +96522020250
 section.sectionsocial
  div(class='container')
   h2(class="title  text-center wow fadeInUp" data-wow-duration="1s") Or chat with Us
   nav(class="social wow fadeInUp" data-wow-duration="1s")  
    a(href="#")
     svg(xmlns="http://www.w3.org/2000/svg" width="147" height="147" viewBox="0 0 147 147" fill="none")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M73.3831 0.208496C32.2465 0.208496 0.359375 30.341 0.359375 71.0415C0.359375 92.3305 9.08428 110.727 23.2928 123.433C24.4857 124.501 25.2057 125.996 25.2545 127.597L25.6521 140.586C25.779 144.73 30.0589 147.426 33.8504 145.752L48.3445 139.353C49.5731 138.811 50.95 138.711 52.2447 139.067C58.9053 140.899 65.994 141.874 73.3828 141.874C114.519 141.874 146.406 111.742 146.406 71.0412C146.406 30.3407 114.519 0.208496 73.3831 0.208496Z" fill="url(#paint0_radial_1_7580)")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M29.5306 91.756L50.9813 57.7241C54.3934 52.3101 61.7001 50.962 66.8197 54.8017L83.8805 67.5974C85.4459 68.7718 87.5995 68.7652 89.1584 67.5823L112.2 50.0954C115.276 47.7615 119.29 51.4421 117.232 54.7082L95.7811 88.7403C92.3686 94.1541 85.062 95.5024 79.9426 91.6624L62.8813 78.8664C61.3161 77.6926 59.1622 77.6989 57.6036 78.8818L34.5621 96.3687C31.4865 98.7024 27.472 95.0221 29.5306 91.756Z" fill="white")
      radialGradient(id="paint0_radial_1_7580" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(28.4849 144.483) scale(159.055 159.055)")
        stop(stop-color="#0099FF")
        stop(offset="0.6098" stop-color="#A033FF")
        stop(offset="0.9348" stop-color="#FF5280")
        stop(offset="1" stop-color="#FF7061")
    a(href="#")
     svg(xmlns="http://www.w3.org/2000/svg" width="146" height="148" viewBox="0 0 146 148" fill="none")
      g(clip-path="url(#clip0_1_7583)")
        path(d="M3.72175 147.978C2.90401 147.978 2.10848 147.651 1.5185 147.048C0.740748 146.252 0.440758 145.097 0.73297 144.017L10.2004 109.047C4.30618 98.2661 1.19851 86.0702 1.20295 73.6899C1.21962 33.4282 33.6118 0.673828 73.4126 0.673828C92.7175 0.681695 110.857 8.28786 124.491 22.0887C138.123 35.8906 145.627 54.2373 145.621 73.7484C145.603 114.011 113.211 146.768 73.4126 146.768C73.4126 146.768 73.3826 146.768 73.3815 146.768C61.7564 146.763 50.2312 143.898 39.9694 138.469L4.50728 147.876C4.24729 147.944 3.98286 147.978 3.72175 147.978Z" fill="#E5E5E5")
        path(d="M3.7207 144.844L13.5248 108.63C7.47724 98.0311 4.29624 86.0082 4.30068 73.6909C4.31624 35.1577 35.3174 3.80811 73.4116 3.80811C91.8976 3.81597 109.249 11.094 122.298 24.3036C135.345 37.5133 142.528 55.0722 142.521 73.7471C142.505 112.279 111.499 143.633 73.4116 143.633C73.4094 143.633 73.4127 143.633 73.4116 143.633H73.3816C61.8153 143.629 50.4513 140.694 40.3572 135.126L3.7207 144.844ZM42.0538 122.475L44.1526 123.732C52.9701 129.026 63.0797 131.825 73.3894 131.831H73.4116C105.07 131.831 130.838 105.771 130.852 73.7426C130.857 58.2212 124.889 43.6259 114.044 32.647C103.197 21.6682 88.7766 15.6186 73.4327 15.6118C41.7483 15.6118 15.9814 41.6681 15.9692 73.6954C15.9647 84.6709 19.0002 95.3586 24.7511 104.608L26.1177 106.806L20.3135 128.24L42.0538 122.475Z" fill="white")
        path(d="M6.125 142.404L15.5902 107.442C9.75043 97.211 6.68054 85.6028 6.68387 73.7137C6.69831 36.5145 36.6273 6.25049 73.4004 6.25049C91.2487 6.25836 108 13.2846 120.594 26.0369C133.192 38.7891 140.125 55.74 140.118 73.7665C140.103 110.967 110.172 141.234 73.4037 141.234C73.4004 141.234 73.4049 141.234 73.4037 141.234H73.3737C62.2086 141.23 51.2367 138.395 41.4926 133.023L6.125 142.404Z" fill="#64B161")
        path(d="M3.7207 144.844L13.5248 108.63C7.47724 98.0311 4.29624 86.0082 4.30068 73.6909C4.31624 35.1577 35.3174 3.80811 73.4116 3.80811C91.8976 3.81597 109.249 11.094 122.298 24.3036C135.345 37.5133 142.528 55.0722 142.521 73.7471C142.505 112.279 111.499 143.633 73.4116 143.633C73.4094 143.633 73.4127 143.633 73.4116 143.633H73.3816C61.8153 143.629 50.4513 140.694 40.3572 135.126L3.7207 144.844ZM42.0538 122.475L44.1526 123.732C52.9701 129.026 63.0797 131.825 73.3894 131.831H73.4116C105.07 131.831 130.838 105.771 130.852 73.7426C130.857 58.2212 124.889 43.6259 114.044 32.647C103.197 21.6682 88.7766 15.6186 73.4327 15.6118C41.7483 15.6118 15.9814 41.6681 15.9692 73.6954C15.9647 84.6709 19.0002 95.3586 24.7511 104.608L26.1177 106.806L20.3135 128.24L42.0538 122.475Z" fill="white")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M56.1379 44.4756C54.8446 41.5671 53.4824 41.5087 52.2514 41.4581C51.2447 41.4143 50.0926 41.4165 48.9426 41.4165C47.7915 41.4165 45.9205 41.8548 44.3383 43.6024C42.755 45.35 38.293 49.5756 38.293 58.1697C38.293 66.7648 44.4816 75.0689 45.3449 76.2354C46.2082 77.4009 57.2912 95.6004 74.8428 102.602C89.4301 108.421 92.3977 107.264 95.5643 106.973C98.7309 106.681 105.781 102.747 107.219 98.6685C108.659 94.59 108.659 91.0949 108.227 90.3633C107.795 89.6361 106.644 89.199 104.917 88.3257C103.191 87.4525 94.701 83.2257 93.1177 82.6436C91.5344 82.0603 90.3834 81.7704 89.2323 83.5191C88.0801 85.2655 84.7736 89.199 83.7658 90.3633C82.7581 91.5309 81.7503 91.677 80.0237 90.8027C78.2971 89.9272 72.7351 88.0841 66.1375 82.1334C61.0044 77.5042 57.5378 71.7861 56.5301 70.0374C55.5235 68.291 56.5134 67.4279 57.289 66.4737C58.6856 64.7554 61.0288 61.6659 61.6044 60.5016C62.1799 59.3351 61.8921 58.3158 61.461 57.4414C61.0288 56.5682 57.6723 47.9303 56.1379 44.4756Z" fill="white")
      clipPath(id="clip0_1_7583")
       rect(width="145.63" height="147.304" fill="white" transform="translate(0.337891 0.673828)")
    a(href="#")
     svg(xmlns="http://www.w3.org/2000/svg" width="155" height="154" viewBox="0 0 155 154" fill="none")
      g(clip-path="url(#clip0_1_7590)")
        path(d="M77.6426 154C120.169 154 154.643 119.526 154.643 77C154.643 34.4741 120.169 0 77.6426 0C35.1166 0 0.642578 34.4741 0.642578 77C0.642578 119.526 35.1166 154 77.6426 154Z" fill="url(#paint0_linear_1_7590)")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M35.4967 76.1872C57.9437 66.4073 72.9121 59.9598 80.4012 56.8449C101.785 47.9508 106.228 46.4057 109.124 46.3545C109.761 46.3434 111.186 46.5013 112.108 47.25C113.477 48.3605 113.484 50.7709 113.333 52.3663C112.174 64.5419 107.16 94.0885 104.609 107.725C103.529 113.496 101.404 115.43 99.3465 115.62C94.8751 116.031 91.4796 112.664 87.1487 109.826C80.3718 105.383 76.5431 102.618 69.9647 98.2829C62.3625 93.2731 67.2908 90.5198 71.6232 86.0198C72.7572 84.8422 92.4587 66.922 92.84 65.2962C92.8879 65.0929 92.9321 64.3349 92.4818 63.9349C92.0315 63.5349 91.3671 63.6714 90.8877 63.7803C90.2079 63.9346 79.3816 71.0905 58.4087 85.2477C55.3356 87.3579 52.5522 88.386 50.0584 88.3322C47.309 88.2729 42.0206 86.7777 38.0891 85.4997C33.267 83.9323 29.4345 83.1034 29.7683 80.4415C29.9422 79.0546 31.8515 77.6367 35.4967 76.1872Z" fill="white")
      linearGradient(id="paint0_linear_1_7590" x1="77.6426" y1="0" x2="77.6426" y2="152.797" gradientUnits="userSpaceOnUse")
        stop(stop-color="#2AABEE")
        stop(offset="1" stop-color="#229ED9")
      clipPath(id="clip0_1_7590")
       rect(width="154" height="154" fill="white" transform="translate(0.642578)")