section.about
  div.container
   div.row
    div(class="col-sm-6 item wow fadeInLeft" data-wow-duration="1s") 
     div.w-100
      h2.title Who WE ARE
      p.textlight Lorem ipsum dolor sit amet consectetur. Nisl sit pharetra pulvinar amet elementum. Arcu eu elit tortor accumsan. Massa lacus cursus ut congue in ultrices. Justo vulputate quis quis leo tristique suspendisse lacus sit. Scelerisque molestie elementum sem id etiam placerat non viverra.
      span.subtext Lorem ipsum dolor sit amet consectetur. Nisl sit pharetra pulvinar amet elementum. Arcu eu elit tortor accumsan. 
      a(href="aboutus.html" class="bottom") #[span Know More]
    div(class="col-sm-6 item wow fadeInRight" data-wow-duration="1s") 
      div.sliderabout
        ul 
          li 
           img(src="images/a-1.jpg" alt="") 
          li 
           img(src="images/a-2.jpg" alt="") 
          li 
           img(src="images/a-3.jpg" alt="")            
   div(class="row mt-row wow fadeInUp" data-wow-duration="1s")
    div(class="col-sm-6 item") 
     div.w-100
      h2.title About Smart TRarget
      p.textlight  Over the past 14 years, we have worked with over 100 brands and have earned our position through a dedication to work and a focus on meeting your business needs and achieving the highest percentage of spread and sales.
      span.subtext  Smart Target is a comprehensive advertising agency that provides its clients with the highest level of advanced marketing services. You will not find a better partner for your business success than us.
    div(class="col-sm-12 item") 
     ul(class="nav nav-tabs" id="myTab" role="tablist")
        li(class="nav-item ") 
         a(class="nav-link   active show" id="item-1-tab" data-toggle="tab" href="#item-1" role="tab" aria-controls="item-1" aria-selected="true") 
          i.bord
          | Smart mission
        li(class="nav-item")
         a(class="nav-link" id="item-2-tab" data-toggle="tab" href="#item-2" role="tab" aria-controls="item-2" aria-selected="false") 
          i.bord
          | Smart Vision
     div(class="tab-content" id="myTabContent")
       div(class="tab-pane fade show active"  id="item-1"  role="tabpanel" aria-labelledby="item-1-tab")  
        div.row
         div(class="col-sm-6 items") 
          p.textlight We serve our clients to achieve their business goals, within strategic planning of intensive care to each client project through the best tactics.
         div(class="col-sm-6 items") 
          div(class="photo") 
           img(src="images/a-5.jpg" alt="") 
       
       div(class="tab-pane" id="item-2"  role="tabpanel" aria-labelledby="item-2-tab") 
        div.row
         div(class="col-sm-6 items") 
          p.textlight To be the innovative pioneer in providing business owners with our more than 14 years of business experience, solutions & marketing services all over the MENA region
         div(class="col-sm-6 items") 
          div(class="photo") 
           img(src="images/a-4.jpg" alt="") 