extend index

block pageindex

 section.textmessage
  div.container
   div(class="textcenter mt-0 wow fadeInUp" data-wow-duration="1s") 
    div.w-100.text-center.mt-0
     h1(class="title") Oops!
     p.textlight Lorem ipsum dolor sit amet consectetur. Nisl sit pharetra pulvinar amet elementum. Arcu eu elit tortor accumsan. Massa lacus cursus ut congue in ultrices. Justo vulputate quis quis leo tristique suspendisse lacus sit. Scelerisque molestie elementum sem id etiam placerat non viverra.
     a(href="index.html" class="bottom") #[span Back] 
  include ../pugjs/dark.pug
  <!--End dark-->    