extend index

block pageindex
 section.gallery-photos
  div.container 
   div.dsn-stories
    ul(id="masonry" class="row lightgallery")
        li(class="card-container col-sm-12 architecture wow fadeInUp" data-wow-duration="2.3s") 
         div(class="dsn-stories-gallery")
          div(class="p-relative")
           a(href="images/br.jpg")
            div.contant
             span.popup-img
               svg(viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
                  line(class="cls-1" x1="16" x2="16" y1="7" y2="25")
                  line(class="cls-1" x1="7" x2="25" y1="16" y2="16")
             div.gallery-info
              h4(class="title")   BRANDING  logos
              span 20 Photos
           a(href="images/portfolio/p-1.jpg") 
           a(href="images/portfolio/p-2.jpg") 
        li(class="card-container col-sm-4 architecture wow fadeInUp" data-wow-duration="2.3s") 
         div(class="dsn-stories-gallery")
          div(class="p-relative")
           a(href="images/portfolio/p-3.jpg") 
            div.contant
             span.popup-img
               svg(viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
                  line(class="cls-1" x1="16" x2="16" y1="7" y2="25")
                  line(class="cls-1" x1="7" x2="25" y1="16" y2="16")
             div.gallery-info
              h4(class="title")    BRANDING  logos
              span 30 Photos
           a(href="images/portfolio/p-4.jpg") 
           a(href="images/portfolio/p-3.jpg") 
        li(class="card-container col-sm-4 architecture wow fadeInUp" data-wow-duration="2.3s") 
         div(class="dsn-stories-gallery")
          div(class="p-relative")
           a(href="images/portfolio/p-5.jpg") 
            div.contant
             span.popup-img
               svg(viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
                  line(class="cls-1" x1="16" x2="16" y1="7" y2="25")
                  line(class="cls-1" x1="7" x2="25" y1="16" y2="16")
             div.gallery-info
              h4(class="title")    BRANDING  logos
              span 30 Photos
           a(href="images/br.jpg") 
           a(href="images/br.jpg") 
        li(class="card-container col-sm-4 architecture wow fadeInUp" data-wow-duration="2.3s") 
         div(class="dsn-stories-gallery")
          div(class="p-relative")
           a(href="images/portfolio/p-6.jpg")
            div.contant
             span.popup-img
               svg(viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
                  line(class="cls-1" x1="16" x2="16" y1="7" y2="25")
                  line(class="cls-1" x1="7" x2="25" y1="16" y2="16")
             div.gallery-info
              h4(class="title")   BRANDING  logos
              span 20 Photos
           a(href="images/br.jpg") 
           a(href="images/br.jpg") 
   div.w-100.mt-4
    h3(class="title wow  fadeInUp" data-wow-duration="1s")  Project name  
    p(class="textlight wow  fadeInUp" data-wow-duration="1s") Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac. Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac. Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.   
  include ../pugjs/dark.pug
  <!--End dark-->   
 script(src="js/plugins.min.js")
 script(src="js/dsn-grid.min.js")
 script(src="js/custom-img.js")