extend index

block pageindex
  section.minwork
   div.container
    h2(class="title  text-center wow fadeInUp" data-wow-duration="1s") Website / Apps
    ul(class="nav nav-tabs newtabs wow fadeInUp" data-wow-duration="1s" id="myTab2" role="tablist")
      li(class="nav-item ") 
       a(class="nav-link   active show" id="item-w-tab" data-toggle="tab" href="#item-w" role="tab" aria-controls="item-w" aria-selected="true") Websites
      li(class="nav-item")
       a(class="nav-link" id="item-a-tab" data-toggle="tab" href="#item-a" role="tab" aria-controls="item-a" aria-selected="false") Applications
    div(class="tab-content wow fadeInUp" data-wow-duration="1s" id="myTabContent2") 
      div(class="tab-pane fade show active"  id="item-w"  role="tabpanel" aria-labelledby="item-w-tab") 
       div.row
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/portfolio/p-1.jpg' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/portfolio/p-2.jpg' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/portfolio/p-3.jpg' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/portfolio/p-4.jpg' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/portfolio/p-5.jpg' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/portfolio/p-6.jpg' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.     
      div(class="tab-pane" id="item-a"  role="tabpanel" aria-labelledby="item-a-tab") 
       div.row
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/work/1.png' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/work/2.png' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/work/3.png' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/work/1.png' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/work/2.png' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.
        div(class="col-sm-4 itwork" )
         a(href="portfolio-websiteapps-inner.html" class="item")
          div.photo 
           img(src='images/work/3.png' alt="Smart target" title="Smart target")  
          div.content 
           div.w-100
            h4.title Golden Girl
            span.position Graphic , Motion
            p.text   Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.  
   include ../pugjs/dark.pug
   <!--End dark-->     

