extend index

block pageindex
 section.banner-slider.portfolio
  div(class="banner-container" data-fs-scroll="")
   div(class="sections")
    input(id="slide-1" type="radio" name="slides" checked="")
    div(class="section section0" data-href="") 
      div.container
       div.w-100.text-center
        h2(class="title") Branding
        p(class="textlight")   
         | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
        a(class="btnbottom" href="portfolio-branding.html") 
          | Let’s Go
          svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
           path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
      div.photo
       img(src="images/portfolio/p-1.jpg" alt="")
    input(id="slide-2" type="radio" name="slides")
    div(class="section section1 " data-href="") 
      div.container
       div.w-100.text-center
        h2(class="title") Media Production/Motion GRFX
        p(class="textlight")   
         | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
        a(class="btnbottom" href="portfolio-production.html") 
          | Let’s Go
          svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
           path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
      div.photo
       img(src="images/portfolio/p-2.jpg" alt="")
    input(id="slide-3" type="radio" name="slides")
    div(class="section section2 " data-href="") 
      div.container
       div.w-100.text-center
        h2(class="title") Voice Over
        p(class="textlight")   
         | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
        a(class="btnbottom" href="portfolio-voiceover.html") 
          | Let’s Go
          svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
           path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
      div.photo
       img(src="images/portfolio/p-3.jpg" alt="")
    input(id="slide-4" type="radio" name="slides")
    div(class="section section3 " data-href="") 
      div.container
       div.w-100.text-center
        h2(class="title") Social Media
        p(class="textlight")   
         | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
        a(class="btnbottom" href="portfolio-socialmedia.html") 
          | Let’s Go
          svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
           path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
      div.photo
       img(src="images/portfolio/p-4.jpg" alt="")
    input(id="slide-5" type="radio" name="slides")
    div(class="section section4 " data-href="") 
      div.container
       div.w-100.text-center
        h2(class="title") Website / Apps
        p(class="textlight")   
         | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
        a(class="btnbottom" href="portfolio-websiteapps.html") 
          | Let’s Go
          svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
           path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
      div.photo
       img(src="images/portfolio/p-5.jpg" alt="")
    input(id="slide-6" type="radio" name="slides")
    div(class="section section5 " data-href="") 
      div.container
       div.w-100.text-center
        h2(class="title") Seo/ Content Creation
        p(class="textlight")   
         | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
        a(class="btnbottom" href="portfolio-seo.html") 
          | Let’s Go
          svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
           path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
      div.photo
       img(src="images/portfolio/p-6.jpg" alt="")
    input(id="slide-7" type="radio" name="slides")
    div(class="section section6 " data-href="") 
      div.container
       div.w-100.text-center
        h2(class="title") Sem/ Google ads
        p(class="textlight")   
         | Lorem ipsum dolor sit amet consectetur. Consequat mi tortor<br> bibendum nunc aliquet netus enim commodo.
        a(class="btnbottom" href="portfolio-sem.html") 
          | Let’s Go
          svg(xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 11 14")
           path(d="M1.5 2.66987L9 7L1.5 11.3301L1.5 2.66987Z" stroke-width="2")
      div.photo
       img(src="images/portfolio/p-7.jpg" alt="")
  include ../pugjs/dark.pug
  <!--End dark-->   
  include ../pugjs/iconssocial.pug
  <!--End iconssocial-->     
 script(src="js/fsscroll.js")
 script(src="js/script.js")