extend index

block pageindex
 section.por-inner
  div.container 
   h3(class="title wow  fadeInUp" data-wow-duration="1s")  Project name
   div.row
    div(class="col-sm-6 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
        img(src='images/portfolio/p-1.jpg' alt="Smart target" title="Smart target")  
    div(class="col-sm-6 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
       iframe(src="https://www.youtube.com/embed/i0QfCZjASX8?si=tDtxFVg1o12n2lBB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)   
   p(class="textlight wow  fadeInUp" data-wow-duration="1s") Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac. Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac. Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.     
   h3(class="title mt-5 wow  fadeInUp" data-wow-duration="1s") Behind the scene
   div.row   
    div(class="col-sm-4 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
      iframe(src="https://www.youtube.com/embed/i0QfCZjASX8?si=tDtxFVg1o12n2lBB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)   
    div(class="col-sm-4 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
        img(src='images/portfolio/p-3.jpg' alt="Smart target" title="Smart target") 
    div(class="col-sm-4 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
        img(src='images/portfolio/p-6.jpg' alt="Smart target" title="Smart target") 
  include ../pugjs/dark.pug
  <!--End dark-->