extend index

block pageindex
 section.por-inner
  div.container 
   h3(class="title text-center wow  fadeInUp" data-wow-duration="1s")  Project name
   p(class="textlight in-text wow  fadeInUp" data-wow-duration="1s") Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac. Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac. Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.Lorem ipsum dolor sit amet consectetur. Urna ultricies malesuada augue sed sollicitudin risus. Nulla et non in ac.     
   div.row   
    div(class="col-sm-4 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
      img(src='images/portfolio/p-7.jpg' alt="Smart target" title="Smart target") 
    div(class="col-sm-4 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
        img(src='images/portfolio/p-3.jpg' alt="Smart target" title="Smart target") 
    div(class="col-sm-4 item wow  fadeInUp" data-wow-duration="1s")
     div.inner
        img(src='images/portfolio/p-6.jpg' alt="Smart target" title="Smart target") 
   div.about
    div.row
     div(class="col-sm-6 item wow fadeInLeft " data-wow-duration="1s") 
      div.photo
       img(src="images/w-1.jpg" alt="") 
     div(class="col-sm-6 item wow fadeInRight" data-wow-duration="1s") 
      div.w-100
       h2.title Home Page
       p.textlight Lorem ipsum dolor sit amet consectetur. Nisl sit pharetra pulvinar amet elementum. Arcu eu elit tortor accumsan. Massa lacus cursus ut congue in ultrices. Justo vulputate quis quis leo tristique suspendisse lacus sit. Scelerisque molestie elementum sem id etiam placerat non viverra.
    div.row
     div(class="col-sm-6 item wow fadeInLeft" data-wow-duration="1s") 
      div.w-100
       h2.title Home Page
       p.textlight Lorem ipsum dolor sit amet consectetur. Nisl sit pharetra pulvinar amet elementum. Arcu eu elit tortor accumsan. Massa lacus cursus ut congue in ultrices. Justo vulputate quis quis leo tristique suspendisse lacus sit. Scelerisque molestie elementum sem id etiam placerat non viverra.
     div(class="col-sm-6 item wow fadeInRight  " data-wow-duration="1s") 
      div.photo
       img(src="images/w-2.jpg" alt="") 
  include ../pugjs/dark.pug
  <!--End dark-->       